absl-py==0.9.0
asgiref==3.2.3
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cmake==3.15.3
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
decorator==4.4.1
dj-database-url==0.5.0
Django==3.0.2
django-cors-headers==3.2.1
django-filter==2.2.0
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
djangorestframework==3.11.0
djangorestframework-camel-case==1.1.2
djangorestframework-recursive==0.1.2
dlib==19.19.0
drf-yasg==1.17.1
flex==6.14.1
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
imageio==2.6.1
importlib-metadata==1.5.0
inflection==0.3.1
isort==4.3.21
itypes==1.1.0
Jinja2==2.10.3
jsonpointer==2.0
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
oauth2-provider==0.0
openapi-codec==1.3.2
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==20.1
Pillow==7.0.0
protobuf==3.11.2
pylint==2.4.4
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
requests==2.22.0
rfc3987==1.3.8
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-image==0.16.2
scipy==1.4.1
simplejson==3.17.0
six==1.13.0
sqlparse==0.3.0
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
tornado==6.0.3
typed-ast==1.4.0
ua-parser==0.9.0
uritemplate==3.0.1
urllib3==1.25.7
user-agents==2.1
validate-email==1.3
Werkzeug==0.16.0
wrapt==1.11.2
zipp==2.2.0
